body {
    margin: 0;
    padding: 0;
}

.center {
    color: #fa2;
    text-align: center;
}

header {
    width: 100%;
    background-color: lightcoral;
    height: 100px;
    background-image: url(Twitterヘッダーフリー素材08blue.jpg);
    background-size: 100%;
    background-position: center;
}

footer {
    width: 100%;
    background-color: lightseagreen;
    height: 100px;
    background-image: url(Twitterヘッダーフリー素材08blue.jpg);
}

.flexbox-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

main {
    width: 70%;
    margin: auto;
    margin-top: 0;
}

.main-expo {
    font-size: 1.375rem;
    font-weight: normal;
    border-bottom: 2px #0bd solid;
}

.japanmap {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 100px 50px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li {
    border-bottom: 1px #add solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

aside {
    width: 30%;
}
aside p {
    padding: 12px 10px;
}
